body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(
    to right top,
    #393939,
    #343434,
    #2f2e2f,
    #2a292a,
    #252425,
    #212021,
    #1d1d1e,
    #19191a,
    #151616,
    #111112,
    #0b0c0d,
    #050606
  );
  
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #286091;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  
}

.sidebar a {
  display: block;
  color: rgb(248, 247, 247);
  padding: 16px;
  text-decoration: none;
  
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* The grid: four equal columns that floats next to each other */
/* #b1,
#b2,
#b3,
#b4,
#b5,
#b6 {
  float: left;
  width: 15%;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-left: 90px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 38%;
  height: auto;
}

.containerTab {
  padding: 20px;
  color: white;
  float: right;
  width: 15%;
  margin-top: auto;
  margin-right: auto;
}

.count{
  padding-left: 0.8em;
} */

/* The grid: four equal columns that floats next to each other */
#b1
 {
  float: left;
  padding: 1em;
  font-size: 15px;
  color: white;
  margin-left: 6em;
  margin-top: 2.5em;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 40%;
  height: 13em;
  overflow: auto;
}

#b2
 {
  float: left;
  padding: 1em;
  font-size: 15px;
  color: white;
  margin-left: 90px;
  margin-top: 40px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 40%;
  height: 13em;
  overflow: auto;
}

#b3
 {
  float: left;
  padding: 1em;
  font-size: 15px;
  color: white;
  margin-left: 90px;
  margin-top: 40px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 40%;
  height: 13em;
  overflow: auto;
}

#b4
 {
  float: left;
  padding: 1em;
  font-size: 15px;
  color: white;
  margin-left: 90px;
  margin-top: 40px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 40%;
  height: 13em;
  overflow: auto;
}

#b5
 {
  float: left;
  padding: 1em;
  padding-top: 0;
  font-size: 15px;
  color: white;
  margin-left: 90px;
  margin-top: 40px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 25%;
  height: 14.5em;
  overflow: auto;
}

#b6
 {
  float: left;
  padding: 1em;
  font-size: 15px;
  color: white;
  margin-left: 90px;
  margin-top: 40px;
  background-color: #1d1d1e;
  border-radius: 1em;
  box-shadow: 6px 4px 4px -4px #333;
  width: 55%;
  height: 25em;
  overflow: auto;
}

/* .containerTab {
  padding: 20px;
  color: white;
  float: right;
  width: 15%;
  margin-top: auto;
  margin-right: auto;
}

.count{
  padding-left: 0.8em;
} */

.alert {
  padding: 5px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}